Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

Answer: MongoDB is an open-source document-oriented database that is designed to store a large scale of data and also allows you to work with that data very efficiently. It is categorized under the NoSQL (Not only SQL) database because the storage and retrieval of data in the MongoDB are not in the form of tables. 

MongoDB is suitable where for hierarchical data storage.It has a dynamic schema. In terms of performance, it is much faster than RDBMS.

***********
Q2. State and Explain the features of MongoDB.

Answer: 
1. Support ad hoc queries
In MongoDB, you can search by field, range query and it also supports regular expression searches.

2. Indexing
You can index any field in a document.

3. Replication
MongoDB supports Master Slave replication.
A master can perform Reads and Writes and a Slave copies data from the master and can only be used for reads or back up (not writes)

4. Duplication of data
MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep its running condition in case of hardware failure.

5. Load balancing
It has an automatic load balancing configuration because of data placed in shards.

6. Supports map reduce and aggregation tools.
7. Provides high performance.

******************
Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [3]:
pip install PyMongo

Collecting PyMongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 3.9 MB/s eta 0:00:00a 0:00:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 21.5 MB/s eta 0:00:00
Installing collected packages: dnspython, PyMongo
Successfully installed PyMongo-4.3.3 dnspython-2.3.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymongo

In [22]:
client = pymongo.MongoClient("mongodb+srv://amitmujumdar13:Mongodb123@cluster0.asdxfh1.mongodb.net/?retryWrites=true&w=majority")
db = client["customer"]
coll = db["custdet"]

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [23]:
data = { "name": "Amit", "Address":"Pune", "Age":"30"}

data1 = [
{ "name": "Sudh", "Address":"Hyderabad","Age":"20"},
{ "name": "Krish", "Address":"Blore","Age":"25"},
{ "name": "Akshay", "Address":"Mumbai","Age":"26"}    
]

res= coll.insert_one(data)
res1= coll.insert_many(data1)

In [24]:
out=coll.find_one()
print(out)

{'_id': ObjectId('64097e177c93ca203ed73dee'), 'name': 'Amit', 'Address': 'Pune', 'Age': '30'}

In [25]:
out1=coll.find()

for i in out1:
    print(i)

{'_id': ObjectId('64097e177c93ca203ed73dee'), 'name': 'Amit', 'Address': 'Pune', 'Age': '30'}
{'_id': ObjectId('64097e177c93ca203ed73def'), 'name': 'Sudh', 'Address': 'Hyderabad', 'Age': '20'}
{'_id': ObjectId('64097e177c93ca203ed73df0'), 'name': 'Krish', 'Address': 'Blore', 'Age': '25'}
{'_id': ObjectId('64097e177c93ca203ed73df1'), 'name': 'Akshay', 'Address': 'Mumbai', 'Age': '26'}

*********************

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

Answer: find method can fetch data either all or one satisfyng a specific criteria.
For example, under collection shown above, if we want to fetch only custmers with Address as Mumbai, we can use below find() method.

In [26]:
out2=coll.find({'Address': 'Mumbai'})

for i in out2:
    print(i)

{'_id': ObjectId('64097e177c93ca203ed73df1'), 'name': 'Akshay', 'Address': 'Mumbai', 'Age': '26'}

*************

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

Answer: sort() method is helpful to sort fetched collectio based on certain column.
Below is example that will sort data stored in collection customer based on name of customer.

In [27]:
out3=coll.find().sort("name")

for i in out3:
    print(i)

{'_id': ObjectId('64097e177c93ca203ed73df1'), 'name': 'Akshay', 'Address': 'Mumbai', 'Age': '26'}
{'_id': ObjectId('64097e177c93ca203ed73dee'), 'name': 'Amit', 'Address': 'Pune', 'Age': '30'}
{'_id': ObjectId('64097e177c93ca203ed73df0'), 'name': 'Krish', 'Address': 'Blore', 'Age': '25'}
{'_id': ObjectId('64097e177c93ca203ed73def'), 'name': 'Sudh', 'Address': 'Hyderabad', 'Age': '20'}

********************

Q7. Explain why delete_one(), delete_many(), and drop() is used.

Answer: delete_one() is used to delete only one specific row, delete_many() will delete multiple rows satisfying criteria. drop() will delete collection.

In [28]:
tst=coll.delete_one({'name':'Amit'})

out3=coll.find().sort("name")

for i in out3:
    print(i)

{'_id': ObjectId('64097e177c93ca203ed73df1'), 'name': 'Akshay', 'Address': 'Mumbai', 'Age': '26'}
{'_id': ObjectId('64097e177c93ca203ed73df0'), 'name': 'Krish', 'Address': 'Blore', 'Age': '25'}
{'_id': ObjectId('64097e177c93ca203ed73def'), 'name': 'Sudh', 'Address': 'Hyderabad', 'Age': '20'}

In [33]:
tst1=coll.delete_many({"Age" : {"$gte" :"25" }})
print('After Delete Many...........')
out3=coll.find().sort("name")

for i in out3:
    print(i)

After Delete Many...........
{'_id': ObjectId('64097e177c93ca203ed73def'), 'name': 'Sudh', 'Address': 'Hyderabad', 'Age': '20'}

In [34]:
## drop() will delete collection

coll.drop()